.home-bg-container {
  margin-left: 7%;
  margin-right: 7%;
  padding: 10px;
}

.arrow-button {
  font-size: 25px;
  border: 1px solid #000000;
  padding: 3px;
  cursor: pointer;
}

.page-shift-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 45px;
}

.page-shift-text {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  margin: 5px;

  /* Light / blue-gray / 700 */
  color: #334155;
}
